<!-- Para evitar que el label flote se agrega el atributo "floatLabel" never always y auto -->
<!-- En el input puedo agregar la propiedad "required" -->
<!-- puedo ocultar marcador de required "hideRequiredmarker" -->
<!-- Para cambiar el tipo de input puedo cambiar la propiedad "appearance" for legacy, standard, fill, outline-->
<mat-form-field floatLabel="always" hideRequiredMarker>
  <mat-label>Nombre</mat-label>
  <input matInput required/>
  <mat-hint align="end">Min 5 caract</mat-hint>
</mat-form-field>
