<div>
  <span [matBadge]="notifications" [matBadgeHidden]="notifications === 0">Notificaciones - Basic notification</span>
</div>
<div>
  <span matBadge="5" matBadgePosition="below before">Notificaciones - Basic notification</span>
</div>
<div>
  <span matBadge="5" matBadgePosition="below after">Notificaciones - Basic notification</span>
</div>
<div>
  <span matBadge="5" matBadgePosition="above before">Notificaciones - Basic notification</span>
</div>

<div>
  <span matBadge="5" matBadgeSize="small">Notificaciones - Basic notification</span>
</div>
<div>
  <span matBadge="5" matBadgeSize="medium">Notificaciones - Basic notification</span>
</div>
<div>
  <span matBadge="5" matBadgeSize="large">Notificaciones - Basic notification</span>
</div>

<div>
  <span matBadge="5" matBadgeColor="primary">Notificaciones - Basic notification</span>
</div>
<div>
  <span matBadge="5" matBadgeColor="accent">Notificaciones - Basic notification</span>
</div>
<!-- El overlap debe ir para los iconos, no para texto -->
<div>
  <span matBadge="5" matBadgeColor="warn" matBadgeOverlap="false">Notificaciones - Basic notification</span>
</div>

<div>
  <a href="https://material.angular.io/components/badge/overview">
    link
  </a>
</div>
