<mat-checkbox>
  Subscrite
</mat-checkbox>
<br>
<mat-checkbox labelPosition="before">
  Subscrite
</mat-checkbox>
<br>
<mat-checkbox labelPosition="before" color="primary">
  Subscrite
</mat-checkbox>
<br>
<mat-checkbox labelPosition="before" color="warn">
  Subscrite
</mat-checkbox>

<h2>Radio button -----------------</h2>
<mat-radio-group>
  <mat-radio-button value="Angular">Angular</mat-radio-button>
  <mat-radio-button value="React">React</mat-radio-button>
  <mat-radio-button value="Vue">Vue</mat-radio-button>
</mat-radio-group>
