<!-- colspan y rowspan se usan para unir columnas y filas -->
<!-- rowheight se usa para definir el tamaño de las filas, estas se pueden definir de 3 formas
100px, 2:1, si se usa "fit" se debe especificar el "height" -->
<!-- gutterSize deja un expacio entre los contenedores especificando el tamaño -->
<mat-grid-list cols="2">
  <mat-grid-tile>title 1</mat-grid-tile>
  <mat-grid-tile>title 2</mat-grid-tile>
  <mat-grid-tile>title 3</mat-grid-tile>
  <mat-grid-tile>title 4</mat-grid-tile>
</mat-grid-list>
